@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 노말라이즈 */
body,
ul,
li,
h1, h2, h3, h4,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

 /* 노말라이즈 끝 */

 /* 라이브러리 */
.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-black {
  border: 1px solid #000;
}

.border-green {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.con {
  margin-left: auto;
  margin-right: auto;
  width: 1920px;
}

.img-box>img {
  width: 100%;
  display: block;
}
 /* 라이브러리 끝 */

 /* 커스텀 */
html {
  font-family: 'Pretendard-Regular';
}
html body {
  background-color: #000;
}

/* <!-- 상단바 시작 --> */
/* <!-- 상단바 끝 --> */

/* <!-- 메인 시작 --> */
.main {
  position: relative;
  height: 950px;
}

.main_wrap {
  flex-direction: column;
  height: 100%;
}

.main-box {
  height: 100%;
  overflow: hidden;
}

.main_text-box {
  position: absolute;
  color: #fff;
  flex-direction: column;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 50px;
  gap: 100px;
}

.main_text-box .main-title h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 8px;
}

.main_text-box .main-title span {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.main_text-box .main-btn {
  gap: 20px;
  justify-content: end;
}

.main_text-box .main-btn span {
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  background-color: #000;
  border-radius: 50px;
}
/* <!-- 메인 끝 --> */

/* <!-- 신규 제품 시작 --> */
.sec-1 {
  height: 1080px;
  padding: 86px 198px;
  box-sizing: border-box;
}
.sec-1_warp {
  flex-direction: column;
  height: 100%;
}

.item_text-box {
  color: #fff;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.item_text-box h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 128px;
}

.item_text-box span {
  font-size: 42px;
  font-weight: 500;
}

/* 비활성 점 색상 */
.swiper-pagination-bullet {
  background: #535353; /* 원하는 색상 */
  opacity: 1;       /* 기본은 0.2 정도라 안 보일 수 있음 */
}

/* 활성 점 색상 */
.swiper-pagination-bullet-active {
  background: #46FF68; /* 원하는 색상 */
}

.swiper-pagination {
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  left: 0;
}
/* <!-- 신규 제품 끝 --> */

/* <!-- 조명 소개 시작 --> */
/* <!-- 조면 소개 끝 --> */

/* <!-- 베스트 제품 시작 --> */
/* <!-- 베스트 제품 끝 --> */

/* <!-- 콜라보레이션 시작 --> */
/* <!-- 콜라보레이션 끝 --> */

/* <!-- 구독 시작 --> */
/* <!-- 구독 끝 --> */

/* <!-- 어플 시작 --> */
/* <!-- 어플 끝 --> */

/* <!-- 푸터 시작 --> */
/* <!-- 푸터 끝 --> */